{% extends "base.html" %} 

{% block title %}{{ person.title }}{%endblock%}

{% block body_id %} {% endblock %} 

{% block body_class %} {% endblock %}

{% block content %}
    <div class='container'>
        <div class="row">
            <div class="col-md-12"><h3>{{ person.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ person.name }}</div>
            <div class="col-md-6">Contacts</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ person.surname }}</div>
            <div class="col-md-6">Email: <a href="mailto:{{person.email}}">{{person.email}}</a></div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">Jabber: <a href="xmpp:{{ person.jabber }}?message">{{ person.jabber }}</a></div>
        </div>
        <div class="row">
            <div class="col-md-6">Date of birth: {{ person.date_of_birth|date:"d.m.Y" }}</div>
            <div class="col-md-6">Skype: <a href="skype:{{ person.skype }}?chat">{{ person.skype }}</a></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Bio:<br>
                {% autoescape off %}{{ person.bio }}{% endautoescape %}
            </div>
            <div class="col-md-6">
                Other contacts:<br>
                {% autoescape off %}{{ person.other_contacts }}{% endautoescape %}
            </div>
        </div>
    </div>
{% endblock %}