{% extends "base.html" %} 

{% block title %}42 Coffee Cups Test Assignment{%endblock%}

{% block body_id %} {% endblock %} 

{% block body_class %} {% endblock %}

{% block content %}
	<div class='container'>
        <div class="row">
            <div class="col-md-12"><h3>42 Coffee Cups Test Assignment</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">Name</div>
            <div class="col-md-6">Contacts</div>
        </div>
        <div class="row">
            <div class="col-md-6">Last name</div>
            <div class="col-md-6">Email: email</div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">Jabber: JID</div>
        </div>
        <div class="row">
            <div class="col-md-6">Date of birth</div>
            <div class="col-md-6">Skype: ID</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Bio:<br>
                Multiline
            </div>
            <div class="col-md-6">
                Other contacts:<br>
                Multiline
            </div>
        </div>
    </div>
{% endblock %}